ul {
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
    border-top: 1px solid rgb(119, 57, 57);
    background-color: rgba(179, 148, 148, 0.322);
    padding: 5px;
    margin: 0px;
    min-height: 25px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

li:hover {
    background-color: antiquewhite
}

li:active {
    background-color: rosybrown
}

.wrap {
    width: 100%;
}

.thumb {
    float: left;
    width: 25%;
}

.title,
.keywords {
    float: left;
    width: 55%;
}

.keywords {
    font-size: smaller;
    padding: 5px 0px;
}

.price {
    float: right;
    width: 10%;
    text-align: right;
}
.remove-bookmark,
.add-bookmark {
    border: 2px solid rgb(104, 54, 25);
    width: 100%;
    padding: 10px;
    background-color: rgba(243, 154, 38, 0.37);
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}
.remove-bookmark:hover,
.add-bookmark:hover {
    background-color: rgba(187, 92, 3, 0.363);
}

.bookmarks {   
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    display: none;
    background-color: rgb(224, 212, 236);
}

.display-bookmarks {
    display: block;
}

.button {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    cursor: pointer;
    font-weight: bolder;
    text-transform: uppercase;
}

.button:hover {
    background-color: rgb(190, 250, 250);
}

.bookmarks ul {
    width: 70%;
    margin: auto;
    border: 1px solid black;
}

.dummy {
    margin: auto;
    width: 70%;
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

.dummy-closed {
    display: none;
}