ul {
    padding: 0;
    
    /* text-align: center; */
}

li {
    display: inline-block;
    border-top: 1px solid rgb(119, 57, 57);
    background-color: rgba(179, 148, 148, 0.322);
    padding: 5px;
    margin: 0px;
    min-height: 25px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

li:hover {
    background-color: antiquewhite
}

li:active {
    background-color: rosybrown
}

.thumb {
    float: left;
    width: 25%;
}

div.title,
div.keywords {
    float: left;
    width: 55%;
}

.keywords {
    font-size: smaller;
    padding: 5px 0px;
}

.wrap {
    width: 100%;
}

div.price {
    float: right;
    width: 10%;
    text-align: right;
}

.button {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    cursor: pointer;
    font-weight: bolder;
    text-transform: uppercase;
}

.button:hover {
    background-color: rgb(190, 250, 250);
}

.warning {
    height: 50px;
    width: 100%;
    background-color: red;
}

.warning-hidden {
    display: none;
}
